{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<div class='newpost' id='newpost'>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        {% csrf_token %}
        {% for hidden in postForm.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in postForm %}
        {{ field|crispy }} <br />
        {% endfor %}

        {{ Tags }}

        {{ image }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>

</div>

{% endblock %}