{% extends 'base.html' %}

{% block content %}


{% if post %}
<div class="parent">
    {% if message %}
    <div class='alert alert-primary'>
        {{ message }}
    </div>
    {% endif %}


    <div class="container">
        <div class="jumbotron">

            {% for tag in post_tags %}
            <a href="{% url 'articles:tagged' tag %}">{{ tag }}</a>
            {% endfor %}

            <div>
                {% if post.user == request.user %}
                <a class="btn btn-outline-info mb-4" href="{% url 'articles:update-article' post.pk %}">Update</a>
                <a class="btn btn-outline-danger mb-4" href="{% url 'articles:delete-article' post.pk %}">Delete</a>
                {% endif %}
            </div>

            <h2> <a href="{% url 'users:searchbyauthor' post.user %}">{{ post.user|capfirst }}</a></h2> <br>
            <!-- <b>Published On: </b> {{ post.published_date }} <br> -->

            <b>Title</b>: {{ post.title }} <br>

            <b>Post</b> : <div class="content-markdown">{{ post.content }} </div><br>

            {% if post.image %}
            <div class="media">
                <img src="{{ post.image.url }}" alt="image" align="centre">
            </div>
            {% endif %}
            <div class="media-section">
                <a href="{% url 'articles:upvote' post.slug %}"><img src="/media/upvote.png" alt="Upvote" height="30px"
                        width="30px"></a> {{ post.votes }}
                <a href="{% url 'articles:downvote' post.slug %}"><img src="/media/downvote.png" alt="Downvote"
                        height="30px" width="30px"></a>
            </div>

            <div class="social row">
                <div class="col">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                        <img src="/media/profile-links/fb.png" alt="Facebook">
                    </a>
                </div>

                <div class="col">
                    <a
                        href="https://twitter.com/home?status={{ share_string|truncatechars:80 }}%20{{ request.build_absolute_uri }}">
                        <img src="/media/profile-links/twitter.jpg" alt="twitter">
                    </a>
                </div>

                <div class="col">
                    <a
                        href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}!&source={{ request.build_absolute_uri }}">
                        <img src="/media/profile-links/linkedin.png" alt="linkedin">
                    </a>
                </div>


            </div>

            {{ post.id }}

            {% if comments %}
            <div>
               
                {% for comment in comments %}
                
                {{ comment.user }} | {{ comment.timestamp|timesince }} ago <br>
                {{ comment.content }} 
                <hr>
                {% endfor %}
            </div>
            {% endif %}





        </div>


    </div>
</div>
{% endif %}

{% endblock %}