{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% if user %}
<a href="{% url 'users:searchbyauthor' user %}">{{ user }}</a>
{% endif %}

{% if content_posts or title_posts %}
<h3>following results matched your seach</h3>

{% for post in content_posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'users:searchbyauthor' post.user %}">{{ post.user|capfirst }}</a>
            <small class="text-muted">{{ post.updated_at }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'articles:readmore' post.slug%}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}

{% for post in title_posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'users:searchbyauthor' post.user %}">{{ post.user|capfirst }}</a>
            <small class="text-muted">{{ post.updated_at }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'articles:readmore' post.slug%}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}

{% endif %}

{% endblock %}