{% extends "base.html" %}
{% block content %}
<div>
  {% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'users:searchbyauthor' post.user %}">{{ post.user|capfirst }}</a>
        <small class="text-muted">{{ post.updated_at }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'articles:readmore' post.slug%}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content|safe }}</p>
    </div>



  </article>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
      {% if posts.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in posts.paginator.page_range %}
      {% if posts.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
      {% endfor %}

      {% if posts.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %}